language: node_js
cache: npm
notifications:
  email: false
node_js:
  - 12
  - node
install:
  - npm install
script:
  - npm run lint
  - npm run test
branches:
  only:
    - master
    - beta

jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      node_js: lts/*
      # Advanced: optionally overwrite your default `script` step to skip the tests
      # script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
