<details {{ attributes.addClass('accordion') }} {% if open %}open{% endif %}>
  <summary class="accordion__title">{{ title|default('Accordion title')|backwords }}</summary>
  <div class="accordion__content">
    {% block accordion_content %}
      <p>{% include "@twig-testing-library-tests/lorem-ipsum.twig" %}</p>
    {% endblock %}
  </div>
</details>
